################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DemonstrationSolution/DemonstrationLibrary/bin/Release
/src/DemonstrationSolution/DemonstrationLibrary/obj
/src/DemonstrationSolution/.vs/DemonstrationSolution/v17
/.vs/demonstration/v17/.suo
